<h1>Stupid Coaching</h1>

<div id="question">
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>

<br>
<div id="answer">
  <p><%= @answer %></p>
  <p><i>-Your Coach</i></p>
</div>

<br>
<%= link_to "Go pack to home page", ask_path %>
